:root {
    --primary: #ffe500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-logo {
    width: 125px;
    height: 50px;
}

.active {
    color: var(--primary) !important;
}

.nav-item .nav-link:hover {
    color: var(--primary);
}

.display-1 {
    padding-top: 2rem;
    text-align: center;
    padding-bottom: 1rem;
}

#isi-about > .lead {
    text-align: center;
    padding-inline: 2rem;
}

#isi-about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#isi-about > img {
    width: 60%;
    padding-block: 1rem;
    margin-bottom: 2rem;
}

#mission {
    padding-inline: 2rem;
    margin-block: 2rem;
}

footer a {
    text-decoration: none;
}

.footer-left {
    width: 40%;
}

.btn-outline-primary:hover {
    background: var(--primary) !important;
}

.btn-outline-dark:hover {
    color: var(--primary);
}

hr {
    width: 90%;
}

@media screen and (max-width: 767px) {
    .footer-left {
        width: 80%;
    }
}

@media screen and (max-width: 991px) {
    .nav-button {
        margin-top: 20px;
    }
}
