:root {
    --primary: #ffe500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-logo {
    width: 125px;
    height: 50px;
}

.active {
    color: var(--primary) !important;
}

.nav-item .nav-link:hover {
    color: var(--primary);
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#topbil {
    margin-block: 5px;
}

#midbil {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    align-items: center;
    margin: 0rem 0rem 2rem 0rem;
}

#checkbox {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#total {
    margin: 1rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;
}

#total span b {
    padding: 10px;
    font-size: 110%;
}

#harga {
    font-size: 150%;
    font-style: italic;
}

footer a {
    text-decoration: none;
}

.footer-left {
    width: 40%;
}

.btn-outline-primary:hover {
    background: var(--primary) !important;
}

.btn-outline-dark:hover {
    color: var(--primary);
}

hr {
    width: 90%;
}

@media screen and (max-width: 767px) {
    .footer-left {
        width: 80%;
    }
}

@media screen and (max-width: 991px) {
    .nav-button {
        margin-top: 20px;
    }
}
